<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel=stylesheet href="/style.css">
  <script type="text/javascript" src="//use.typekit.net/adr6llb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<section class='banner'>
  <div class='inner'>
    <header>
      <h2>Heavy</h2>
    </header>
    <p>Heavy is a simple tool that helps you track your weight loss</p>
    <footer>
      <a href='/auth/google' class='button fit'>Get Started</a>
    </footer>
  </div>
</section>

</body>
</html>